!!!5
html
  head
    meta(charset="utf-8")
    //- from cdn
      link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
      script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
      script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
      script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="/js/jquery-1.10.2.min.js")
    script(type="text/javascript",src="/js/bootstrap.min.js")
    script(type="text/javascript",src="/js/d3.v3.min.js")
    script(type="text/javascript",src="d3.layout.cloud.js")
    script(type="text/javascript",src="index.js")
  body
    .center
      | 你要找誰？
      select#name(onchange="update()")
    #content
