!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "/assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="budgetCtrl")
    svg#svg(width="900px",height="900px",viewBox="0 0 900 900",preserveAspectRatio="xMidYMid")
    #inst
      h3 國科會計畫補助金額 - 哪所學校領了最多錢？
      .name
        | {{inst}}
        | {{name}}
      input(type="text",placeholder="我要找單位",ng-model="query")
    hr
    #desc
      h3 不同組織間的比較
      .img
        img(src="cat1.png")
        .desc 研究院 - 數量少, 但經費多
      .img
        img(src="cat2.png")
        .desc 大學 - 數量多, 經費也多
      .img
        img(src="cat3.png")
        .desc 醫院 - 數量多, 但經費少
