html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#svg {
  margin: 100px auto;
  display: block; }

.name {
  font-size: 5px;
  text-anchor: middle;
  dominant-baseline: central; }

#inst {
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 90px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  background: rgba(255, 255, 255, 0.7); }
