html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center; }

svg {
  margin: 20px auto;
  display: block;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }

#label {
  font-size: 4px;
  text-anchor: middle; }
  #label .axis path.base {
    stroke: black;
    stroke-width: 1px; }
  #label .axis .tick {
    stroke: black;
    stroke-width: 1px; }

.node circle {
  fill: white;
  stroke-width: 1.9px; }
.node text {
  font-size: 4px;
  text-anchor: middle; }

.link line {
  stroke-width: 1.2px; }

form.panel select.form-control {
  display: inline-block;
  margin-right: 10px;
  width: auto; }
