doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/visualize/scatter/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title Hannah Fairfield Scatter Plot
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
    script(type="text/javascript",src="px.min.js")
  body
    h2 Hannah Fairfield Graph - corelated indexes changes over time
    svg(width="900px",height="600px",viewBox="0 0 900 600",preserveAspectRatio="xMidYMid")
      g#label
      g#chart
