@import basic
$order: mainmap

html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

#content
  width: 100%
  height: 100%
  padding: 10px

#mainmap
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #eee
  z-index: index($order, mainmap)
