!!!5
//- basic libraries: jquery(1.10.2), d3js(3.0.1), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "/assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="topojson.v1.min.js")
    script(type="text/javascript",src="fisheye.js")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="mapCtrl")
    #content(ng-mousemove="mousemove()")
      h2 Angularjs + D3js
      .desc Use angularjs to bind data to dom, and use d3js's powerful library to render data. For example move mouse over it you will see fisheye effect over this map, which is powered by d3js's fisheye plugin.
      svg#svg(width="900px",height="600px",viewBox="0 0 900 600",preserveAspectRatio="xMidYMid")
        path(ng-repeat="x in geoblock",ng-attr-d="{{x.1}}",ng-attr-fill="{{x.0}}",stroke="#000")
