doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/visualize/kh-pipe/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title 高雄地下管線圖
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
  body(ng-app,ng-controller="main")
    #content
      #heading
        h2 高雄地下管線圖
        .fb-like(style="position:absolute;top:20px;right:20px;",data-href="http://zbryikt.github.io/visualize/kh-pipe/",data-layout="button_count",data-action="like",data-show-faces="true",data-share="true")
        .desc
          | 包含中石化、中油、台塑等管線，詳情請參考下方網址。
          br
          | 資料非官方釋出故有不全及誤差，與氣爆事件也可能並非直接相關，因此僅供參考。

      #mainmap
      svg#svg(width="100%",height="500px",viewbox="0 0 800 500",preserveAspectRatio="xMidYMid")

    #ctrlpanel
      .btn.btn-default(ng-repeat="data in maplist",ng-class="{'active':$parent.showmode==data[0]}",ng-click="$parent.showmode=data[0]")
        i.glyphicon.glyphicon-minus(style="color:{{data[2]}}")
        |  {{data[1]}}管線
        i.glyphicon.glyphicon-ok
    a#g0v(href="http://hackfoldr.org/Kaohsiung-explode-20140801/")
    #footer
      | 資料來源: 
      a(href="https://github.com/mutolisp/kh_pplines") https://github.com/mutolisp/kh_pplines
      |  /  
      a(href="https://www.facebook.com/billypan102/photos/a.431566178638.206452.116441588638/10152225816643639/?type=1") Facebook Post of BillyPan

    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=209807835852654";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
