html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#svg {
  display: block;
  position: relative;
  width: 500px;
  height: 80%;
  margin: 5% auto;
  border: 0px solid #cccccc; }

path.road {
  stroke: black;
  stroke-width: 2px;
  stroke-dasharray: 10, 4; }

circle.poi {
  fill: white;
  stroke: black;
  stroke-width: 1.5px; }
  circle.poi.vip {
    font-size: 1.1em; }
    circle.poi.vip.pos {
      fill: #99ff99; }
    circle.poi.vip.neg {
      fill: #ff9999; }
    circle.poi.vip.neu {
      stroke: none;
      fill: white; }

text.poi {
  font-size: 0.5em; }
  text.poi.vip {
    font-size: 1.1em; }
    text.poi.vip.pos {
      fill: #009900; }
    text.poi.vip.neg {
      fill: #990000; }
