body,html
  width: 100%
  height: 100%
  margin: 0
  padding: 0

#svg
  display: block
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  width: 800px
  height: 430px
  margin: 20px auto
  
.yaxis, .xaxis
  path
    display: none
circle
  cursor: pointer

text
  -webkit-user-select: none
  user-select: none

#content
  width: 800px
  margin: 0 auto

#panel
  width: 800px
  margin: 3px auto
  text-align: center
  .button
    display: inline-block
    margin: 0 10px
    text-align: center
    cursor: pointer
  .circle
    display: inline-block
    width: 32px
    height: 32px
    border-radius: 50%
    font-size: 12px
  .ver
    border: 1px solid #999
  .hor
    background: #999
  .all
    border: 1px solid #955
    background: #ddf
