!!!5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    //link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    //script(type="text/javascript",src="/js/jquery-1.10.2.min.js")
    //script(type="text/javascript",src="/js/bootstrap.min.js")
    //script(type="text/javascript",src="/js/d3.v3.min.js")
    script(type="text/javascript",src="index.js")
  body
    h2(style="text-align:center") 家庭組成消長圖 (民國 90 年至 101 年間)
    svg#svg(width="800px",height="430px",viewbox="0 0 800 430")
    #panel
      .button(onclick="visible(2)")
        .ver.circle
        .text 垂直比較
      .button(onclick="visible(1)")
        .hor.circle
        .text 水平比較
      .button(onclick="visible(3)")
        .all.circle
        .text 同時顯示
    #content
      | 將各種家庭組成依照時間橫列顯示，以實心圓的大小表現其在 12 年間的消長狀況，再以空心圓做不同組成之間的比較。
