!!!5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    //link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    //script(type="text/javascript",src="/js/jquery-1.10.2.min.js")
    //script(type="text/javascript",src="/js/bootstrap.min.js")
    //script(type="text/javascript",src="/js/d3.v3.min.js")
    script(type="text/javascript",src="index.js")
  body
    h2(style="text-align:center") 家庭組成消長圖 (民國 90 年至 101 年間)
    svg#svg(width="800px",height="500px",viewbox="0 0 800 500")
