!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "/assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="px.min.js")
    script(type="text/javascript",src="coord.js")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="mrtCtrl")
    h2 台北捷運各站出站人數變化圖
    h4 {{dates[dindex]}}
    svg(width="900px",height="700px",viewBox="0 0 900 700",preserveAspectRatio="xMidYMid")
      line(ng-repeat="x in links",ng-attr-x1="{{x.source.x}}",ng-attr-y1="{{x.source.y}}",ng-attr-x2="{{x.target.x}}",ng-attr-y2="{{x.target.y}}",stroke="#f00")
      g(ng-repeat="x in siteHash", ng-attr-transform="translate({{x.x}},{{x.y}})")
        circle(ng-attr-r="{{x[dates[dindex]]}}",ng-attr-fill="{{coloring(x[dates[dindex]])}}")
        text(dy="15") {{x.name}}
