doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://zbryikt.github.io/visualize/monitor/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title location of surveillance camera
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places")
    script(type="text/javascript",src="markerclusterer.js")
    script(type="text/javascript",src="index.js")
  body(ng-app, ng-controller="mainCtrl")
    #map-node
    #toggle.btn.btn-default(ng-click="clusterIsOn=!clusterIsOn",ng-class="{true:'active',false:''}[clusterIsOn]") 切換 Cluster
    #wait 等等唷~
    #title 台北監視器的位置分佈圖
