!!!5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    #content
      #body
      .eye.left
      .eye.right
      .mouth: i
      .blush.left
      .blush.right
      .hand.left
      .hand.right
      .foot.left
      .foot.right
