!!!5
html
  head
    meta(charset="utf-8")
    meta(property="og:image",content="http://zbryikt.github.io/visualize/kirby/kirby.png")
    meta(property="og:image:type",content="image/png")
    meta(property="og:image:width",content="150")
    meta(property="og:image:height",content="136")

    link(rel="stylesheet",type="text/css",href="index.css")
  body
    #content
      #body
      .eye.left
      .eye.right
      .mouth: i
      .blush.left
      .blush.right
      .hand.left
      .hand.right
      .foot.left
      .foot.right
