<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>Cheatsheet: CSS Flexbox</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://zbryikt.github.io/visualize/flex/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css?">
    <script type="text/javascript" src="ui-choices.js"></script>
    <script type="text/javascript" src="clipboard.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="root">
      <h2>Flexbox Cheatsheet</h2>
      <p>this cheatsheet is upgraded into <a href="https://loading.io/flexbox/">this flexbox playground</a>. Go check it out!</p>
      <hr>
      <form id="ctrlpanel" class="form-inline">
        <div class="form-group">
          <label>Node Type</label><br>
          <choices ng-model="nodetype" data-type="array" btn-type="btn-sm btn btn-default">
            <choice value="inline" fallback active>Inline</choice>
            <choice value="block">Block</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>width & height</label><br>
          <toggle ng-model="randomHeight" ng-disabled="nodetype=='inline'" active class="btn btn-default btn-sm">Random Height</toggle>
          <toggle ng-model="randomWidth" ng-disabled="nodetype=='inline'" active class="btn btn-default btn-sm">Random Width</toggle>
          <toggle ng-model="invisibleItem" active class="btn btn-default btn-sm">Add a Invisible Last Item</toggle>
        </div>
        <div class="form-group">
          <label>main direction</label><br>
          <choices ng-model="direction" data-type="array" btn-type="btn-sm btn btn-default">
            <choice value="row" fallback active>Row</choice>
            <choice value="column">Column</choice>
          </choices>
          <toggle ng-model="directionReverse" class="btn btn-default btn-sm">Reversed</toggle>
        </div>
        <div class="form-group">
          <label>main align</label><br>
          <choices ng-model="justify" data-type="array" btn-type="btn-sm btn btn-default">
            <choice value="flex-start" active fallback>Start</choice>
            <choice value="flex-end">End</choice>
            <choice value="center">Center</choice>
            <choice value="space-between">Space Between</choice>
            <choice value="space-around">Space Around</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>cross align</label><br>
          <choices ng-model="align" data-type="array" btn-type="btn-sm btn btn-default">
            <choice value="auto">Auto</choice>
            <choice value="flex-start" active fallback>Start</choice>
            <choice value="flex-end">End</choice>
            <choice value="center">Center</choice>
            <choice value="baseline">Baseline</choice>
            <choice value="stretch">Stretch</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>multi-align</label><br>
          <choices ng-model="multialign" data-type="array" btn-type="btn btn-sm btn-default">
            <choice value="flex-start" active fallback>Start</choice>
            <choice value="flex-end">End</choice>
            <choice value="center">Center</choice>
            <choice value="space-between">Space Between</choice>
            <choice value="space-around">Space Around</choice>
            <choice value="stretch">Stretch</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>grow</label><br>
          <choices ng-model="grow" data-type="array" btn-type="btn btn-sm btn-default">
            <choice value="0" active fallback>0</choice>
            <choice value="1">1</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>shrink</label><br>
          <choices ng-model="shrink" data-type="array" btn-type="btn btn-sm btn-default">
            <choice value="0" active fallback>0</choice>
            <choice value="1">1</choice>
          </choices>
        </div>
        <div class="form-group">
          <label>basis</label><br>
          <choices ng-model="basis" data-type="array" btn-type="btn btn-sm btn-default">
            <choice value="0">0</choice>
            <choice value="30px">30px</choice>
            <choice value="500px">500px</choice>
            <choice value="auto" active fallback>auto</choice>
          </choices>
        </div>
      </form>
      <hr>
      <div class="row">
        <div class="col-sm-8">
          <label>Preview</label>
          <div id="container" style="flex-direction:{{flexdirection}};justify-content:{{justify[0]}};align-items:{{align[0]}};align-content:{{multialign[0]}}" ng-class="{'with-phantom':invisibleItem}">
            <div ng-repeat="n in nodes" ng-attr-style="flex: {{grow[0]}} {{shrink[0]}} {{basis[0]}}" class="item"><span ng-if="nodetype[0]=='inline'">test</span>
              <div ng-if="nodetype[0]=='block'" ng-attr-style="width:{{n.w}}px;height:{{n.h}}px" class="ib"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>CSS</label>
          <textarea id="output" rows="13" ng-model="output" data-clipboard-target="#output" class="form-control"></textarea>
        </div>
      </div>
      <div id="footer">
        <div class="pull-right"><span>by &nbsp;</span><a href="https://twitter.com/zbryikt">@zbryikt</a><span>&nbsp; / &nbsp;</span><a href="https://github.com/zbryikt/visualize/tree/gh-pages/flex">Github</a></div>
      </div>
    </div>
  </body>
</html>