!!!5
html
  head
    meta(charset="utf-8")
    //link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    //script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
    script(type="text/javascript",src="d3.v3.min.js") //- for topojson render issue
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    //link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
    //-
      script(type="text/javascript",src="/js/jquery-1.10.2.min.js")
      script(type="text/javascript",src="/js/bootstrap.min.js")
      script(type="text/javascript",src="/js/d3.v3.min.js")
    link(rel="stylesheet",type="text/css",href="css/50_icons.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="crossfilter.v1.min.js")
    script(type="text/javascript",src="prelude-browser-min.js")
    script(type="text/javascript",src="topojson.v1.min.js")
    script(type="text/javascript",src="md5.js")
    script(type="text/javascript",src="d3.layout.cloud.js")
    script(type="text/javascript",src="index.js")
  body
    #content
      h3 立委們都質詢了什麼樣的東西呢？
      #gender.dim
        .title 性別比例
        #female.block
          img(src="noun_project_117.svg")
          .title 女性立委
          .count 50%
        #male.block
          img(src="noun_project_129.svg")
          .title 男性立委
          .count 50%
      #party.dim
        .title 政黨比例
        svg(width="200px",height="200px",viewBox="0 0 100 100",preserveAspectRatio="xMidYMid")
        .flags
      #county.dim
        .title 地區比例
        svg(width="200px",height="250px",viewBox="0 0 800 600",preserveAspectRatio="xMidYMid")
      #asked-by.dim
        .title 參與質詢的立委們
      #topic.dim
        .title 質詢的主題
        .desc
        svg(width="100%",height="200px",viewBox="0 0 500 200")
      #category.dim
        .title 質詢的類別
        .desc
        svg(width="100%",height="200px",viewBox="0 0 500 200")
      #keywords.dim
        .title 質詢內容的關鍵字
        .desc
        svg(width="100%",height="400px",viewBox="0 0 500 200")
      //-button(onclick="reset()") reset
