body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Century Gothic", "Arial Rounded MT Bold", Arial, STHeiti; }

svg {
  user-select: none;
  -webkit-user-select: none; }

.dim > .title {
  font-size: 24px;
  font-weight: 900; }

#content, #help {
  margin: 20px auto;
  width: 1024px;
  text-align: center; }
  #content > .dim, #help > .dim {
    display: block;
    float: left; }

#gender {
  width: 300px;
  height: 290px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  vertical-align: middle; }
  #gender .title {
    margin-bottom: 20px; }

#female, #male {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  margin: 20px 10px;
  width: 128px;
  text-align: center; }
  #female img, #male img {
    width: 50px;
    max-height: 140px;
    margin: 0;
    z-index: 0; }
  #female .title, #male .title {
    margin: 10px 3px 3px;
    font-size: 1.3em;
    z-index: 1; }

#party {
  width: 400px; }
  #party path.arc, #party .flag {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; }
  #party svg.chart {
    display: block;
    margin: 0 auto; }
  #party .flag {
    display: inline-block; }
    #party .flag .title {
      font-size: 14px;
      font-weight: 200;
      margin-top: 8px; }
  #party i.g0v-icon {
    margin: 20px 10px 10px;
    font-size: 32px; }

#asked-by {
  width: 100%;
  float: left;
  clear: both;
  text-align: center; }
  #asked-by .avatar {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    display: inline-block;
    margin: 5px; }
    #asked-by .avatar .img {
      width: 50px;
      height: 50px;
      position: relative; }
    #asked-by .avatar img {
      position: absolute;
      vertical-align: middle;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 32px;
      height: 32px;
      border: 1px solid #cccccc;
      background: #dddddd;
      border-radius: 50%; }

#keywords, #topic, #category {
  user-select: none;
  -webkit-user-select: none;
  margin-top: 15px; }
  #keywords .title, #topic .title, #category .title {
    margin: 5px; }
  #keywords .desc, #topic .desc, #category .desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 24px; }
  #keywords .tag, #topic .tag, #category .tag {
    display: inline-flex;
    font-size: 14px;
    margin: 3px;
    cursor: pointer; }
  #keywords .tag.end, #topic .tag.end, #category .tag.end {
    flex: 100 1 auto; }
  #keywords svg, #topic svg, #category svg {
    display: none; }

#topic, #category {
  width: 48%;
  margin: 0 1%; }

#keywords {
  width: 100%; }

.reset {
  text-align: center;
  float: left;
  width: 80%;
  margin: 20px 10%; }
