!!!5
html
  head
    meta(charset="utf-8")
    //link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
    //script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
    script(type="text/javascript",src="d3.v3.min.js") //- for topojson render issue
    //script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    link(rel="stylesheet",type="text/css",href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/css/semantic.min.css")
    script(type="Text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/javascript/semantic.min.js")
    //link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css")
    //-
      script(type="text/javascript",src="/js/jquery-1.10.2.min.js")
      script(type="text/javascript",src="/js/bootstrap.min.js")
      script(type="text/javascript",src="/js/d3.v3.min.js")
    link(rel="stylesheet",type="text/css",href="css/50_icons.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="crossfilter.v1.min.js")
    script(type="text/javascript",src="prelude-browser-min.js")
    script(type="text/javascript",src="topojson.v1.min.js")
    script(type="text/javascript",src="md5.js")
    script(type="text/javascript",src="d3.layout.cloud.js")
    script(type="text/javascript",src="index.js")
  body
    #content
      h2 立委們都質詢了什麼樣的東西呢？
      .reset
        .ui.button(onclick="reset()") 重新開始所有選擇
      #gender.dim
        .title 性別比例
        #female.block
          img(src="noun_project_117.svg")
          .title 女性立委
          .count 50%
        #male.block
          img(src="noun_project_129.svg")
          .title 男性立委
          .count 50%
      #party.dim
        .title 政黨比例
        svg(width="200px",height="200px",viewBox="0 0 100 100",preserveAspectRatio="xMidYMid")
          g(transform="translate(50 50)")
        .flags
      #county.dim
        .title 地區比例
        svg(width="200px",height="250px",viewBox="0 0 800 600",preserveAspectRatio="xMidYMid")
      #asked-by.dim
        .title 參與質詢的立委們
      #topic.dim
        .title 質詢的主題
        .desc
        svg(width="100%",height="200px",viewBox="0 0 500 200")
      #category.dim
        .title 質詢的類別
        .desc
        svg(width="100%",height="200px",viewBox="0 0 500 200")
      #keywords.dim
        .title 質詢內容的關鍵字
        .desc
        svg(width="100%",height="400px",viewBox="0 0 500 200")
      .reset
        .ui.button(onclick="reset()") 重新開始所有選擇
      br(style="clear:both")
    .ui.divider
    #help
      h2 FAQ
      h3 這是在幹嘛？
      p
        | 這邊將立法院第八屆所有的立委質詢資訊統整分析，分別就「性別」、「黨派」、「選區」、「姓名」、「類別」、「主題」及「關鍵字」作統計。
        | 你可以透過這裡稍微瞭解不同條件下立委所關注的議題，例如，高雄市選區的立委都在關心什麼？美牛相關的議題哪個政黨比較關心？各政黨中質詢次數最多的立委又是誰？
      h3 如何使用這個網頁？
      img(src="help1.png",style="float:right;border: 1px solid #999;border-radius: 5px;margin-left: 10px")
      p 
        | 上述的七項分類中的項目都可以點選。先想好你想要瞭解的區間，比方說，若你想瞭解國民黨在新北市的女性立委都在關注什麼議題，那就依序點擊「性別比例」中的「女性立委」、「政黨比例」中的「國民黨徽」及「地區比例」中的新北市色塊，點擊後你就可以看到我們濾出了江惠貞委員。
        | 接著，往下拉到質詢的主題、類別區，其中比較大的字塊代表他較為關注的議題，我們可以看到他主要是關注交通、醫政及勞工相關的議題。
      p
        | 這時在性別、政黨等各項的類別中，仍會列出不計該項條件時的統計比例。例如，性別比例中顯示女性為 50%，這代表若我們不設定性別條件，則國民黨在新北市選區的立委提出的質詢中，女性立委提出的佔了一半。同樣的，在政黨比例處可看到民進黨尚有 9% 的比例，代表在新北市的女性立委提出的質詢中，民進黨佔了近一成。
      p
        | 地區比例的色塊則以顏色表示各地區間質詢數的比較，越亮橙的顏色代表比例越高，暗灰色代表幾乎或根本沒有。至於立委頭像下方的數字代表該立委在當前條件下提出的質詢數，這個數字同時也反映在頭像的大小上。
      p 
        | 最後，下方主題、類別跟關鍵字因為顯示空間的關係，只照關注度列出前一百高的項目。也許將來可以加入關鍵字搜尋或展開全部項目的功能。
      h3 我要怎麼取消剛剛設立的過濾條件？
      img(src="help2.png",style="float:right;border: 1px solid #999;border-radius: 5px;margin-left: 10px")
      p
        | 當你指定了特定條件時，該項目中其他的選項會變灰變淡；比方說，當你按了親民黨黨徽，其他黨的黨徽顏色會變得很淡。
        | 這時若想取消這個選取，再按一次剛剛選取的項目即可 ( 以剛剛的例子來說就是再按一次親民黨黨徽 ) 。
        | 你也可以按網頁上下方都有的「重新開始所有選擇」按鈕把所有條件都清除，重新開始設定你的條件。
      h3 有什麼例子可以讓我很快的試試看的嗎？
      p
        | 這裡提出幾個過濾條件給你參考。
        ul
          li 點擊親民黨 + 林正二：你可以看到他很關心原住民。相當合理，因為他代表平地原住民。 ( 注意在地區比例項目中此時每個區塊都是暗的 )
          li 點擊民進黨：看看性別比例，陽剛味好重！ ( 主要是因為男性立委的質詢量比較多 )
          li 點擊桃園縣 + 逃避刑責(關鍵字)，接著點擊酒醉駕車(主題) 再取消選取桃園縣。看看質詢主題，關心酒駕逃避刑責的立委似乎也關心食品安全呢！
          li 點擊高雄市：高雄人似乎比較擔心中國大陸的威脅。
          li 分別點擊台中市及台北市，這兩區的立委都關心食品議題，但注意看關鍵字，台北的立委關心的是美牛，台中的立委則關心毒澱粉。
          li 點擊顏清標，其關鍵字含有台中各區，相當地為當地民眾喉舌。各別去點大肚、龍井、烏日等項目，發現都跟受刑人或獄政有關？
          li 點擊男性 + 民進黨 + 台南 ＋ 陳水扁(關鍵字)，發現在主題與分類中有有獄政、人權、保外就醫等字樣。過陣子可能還會多出特赦？仔細一看，特赦已經在裡面了。
      h3 這樣看有什麼意義嗎？
      p
        | 民眾往往在選完立委之後就很少再去關心他們的工作，即便想要關心，又不知道從何關心起。會議影片落落長，公報讀不完，媒體偏頗正確性堪慮。
        | 在這裡你可以過濾出你有興趣的區域、主題，找到你選出的立委，先瞭解他關心的公眾事務包含哪些，再搭配公報、影城等等的系統來作進一步的了解。
        | 礙於網頁空間及開發時間的限制，這裡並沒有完整地呈現質詢該有的資訊，例如質詢內容的摘要或會議屆次、時間等等的資訊；有機會可以再補上。
      br(style="clear:both")
