body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#speaker {
  position: relative;
  width: 80%;
  margin: 20px 10% 20px; }
  #speaker .avatar {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    width: 64px;
    height: 76px; }
    #speaker .avatar img {
      width: 64px;
      height: 64px;
      border-radius: 32px; }
    #speaker .avatar .name {
      font-size: 12px;
      text-align: center; }

#content {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 20px 10% 5%; }

.center {
  margin: 20px;
  text-align: center; }

text.cloud {
  -webkit-user-select: none;
  user-select: none; }
