!!!5
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: true }
- var assets = "assets"
html
  head
    title 
    meta(charset="utf-8")
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="main")
    h2 Animate SVG with Various Approaches
    .ib
      #bar(ng-attr-style="width:{{curR * 5}}px") {{verbose(animate.r)}}
    svg#svg(width="500",height="500",viewbox="0 0 500 500")
      circle#js-smil(cx="125",cy="125",r="10")
      circle#d3-anim(cx="375",cy="125",r="10")
      circle#ng-smil(cx="125",cy="375",ng-attr-r="{{curR}}")
        animate(attributeName="r",ng-attr-from="{{oldR}}",ng-attr-to="{{curR}}",dur="1s",fill="freeze"
          ,ng-attr-begin="{{animate.begin}}",ng-attr-end="{{animate.begin + 1}}"
        )
      circle#ng-anim(cx="375",cy="375",ng-attr-r="{{animate.r}}")

      text(x="125",y="175") JS+SMIL
      text(x="375",y="175") D3+ANIM
      text(x="125",y="425") NG+SMIL
      text(x="375",y="425") NG+ANIM
