html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#svg {
  margin: 100px auto 0;
  display: block; }

circle {
  cursor: pointer; }

text {
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 2px;
  cursor: pointer; }

text.bk {
  stroke: white;
  stroke-width: 2px;
  fill: white; }

#label {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 500px;
  min-height: 76px;
  margin-left: -250px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1); }
  #label .name {
    font-size: 1.3rem;
    margin-bottom: 3px; }
  #label small {
    font-size: 0.5rem; }
